html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #fff;
}

.pimg1 {
    
    background-image: url(./pexels-robin-schreiner-2438212.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(./pexels-flo-dahm-699459.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(./pexels-mitchell-luo-3685175.jpg);
    min-height: 400px;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.textBg {
    background:#313534;
    color: #fff;
    padding: 20px;
}

.section {
    padding: 50px 80px;
    text-align: center;

}


.section_light {
    background-color: whitesmoke;
    color: grey;
}

.section_dark {
    background-color: gray;
    color: whitesmoke;
}

